<div class="container">
  <h2>Create Event BookingForm</h2>
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <!-- Event Name Field -->
      <div class="form-group">
          <label for="gender">Gender*</label>
          <input type="text" id="gender" formControlName="gender" class="form-control" />
          <div *ngIf="submitted && f.gender.errors" class="error">
              <span *ngIf="f.gender.errors.required">You have to select gender.</span>
          </div>
      </div>

      <!-- Organizer Name Field -->
      <div class="form-group">
          <label for="age">Age*</label>
          <input type="text" id="age" formControlName="age" class="form-control" />
          <div *ngIf="submitted && f.age.errors" class="error">
              <span *ngIf="f.age.errors.required">Age is required.</span>
          </div>
      </div>

      <!-- Category Field -->
      <div class="form-group">
          <label for="category">Age*</label>
          <input type="text" id="category" formControlName="category" class="form-control" />
          <div *ngIf="submitted && f.category.errors" class="error">
              <span *ngIf="f.category.errors.required">Category is required.</span>
          </div>
      </div>

      <!-- Description Field -->
      <div class="form-group">
          <label for="Occupation">Occupation*</label>
          <textarea id="Occupation" formControlName="Occupation" class="form-control" rows="4"></textarea>
          <div *ngIf="submitted && f.Occupation.errors" class="error">
              <span *ngIf="f.Occupation.errors.required">Occupation is required.</span>
          </div>
      </div>

      <!-- City Field -->
      <div class="form-group">
          <label for="city">City*</label>
          <input type="text" id="city" formControlName="city" class="form-control" />
          <div *ngIf="submitted && f.city.errors" class="error">
              <span *ngIf="f.city.errors.required">City is required.</span>
          </div>
      </div>

      <!-- Start Date & Time Field -->
      <div class="form-group">
          <label for="startDateTime">Start Date & Time*</label>
          <input type="datetime-local" id="startDateTime" formControlName="startDateTime" class="form-control" />
          <div *ngIf="submitted && f.startDateTime.errors" class="error">
              <span *ngIf="f.startDateTime.errors.required">Start Date & Time is required.</span>
          </div>
      </div>

 

      <!-- Additional details Field -->
      <div class="form-group">
          <label for="adddet">Additional Details -optional/0*</label>
          <input type="number" id="adddet" formControlName="adddet" class="form-control" />
          
      </div>

      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<!-- Success Popup -->
<div class="popup" *ngIf="showSuccessPopup">
  <div class="popup-content">

      <p>Successfully Created Conference Event!</p>
      <button class="btn-ok" (click)="closePopup()">Ok</button>
  </div>
</div>