<div class="container">
    <h1>Available ConferenceEvents</h1>
    <div>
      <input type="Search By Event Name Organise Location" onkeyup="getConferenceEvents()">
    </div>
    <div *ngIf="loading" class="center-message">Loading...</div>
    <div *ngIf="errorMessage" class="center-message error">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="center-message success">{{ successMessage }}</div>
    <table *ngIf="!loading && conferenceevents.length > 0">
      <thead>
        <tr>
          <th>#</th>
          <th>EventName</th>
          <th>OrganizerName</th>
          <th>Category</th>
          <th>Description</th>
          <th>Location</th>
          <th>StartDateTime</th>
          <th>EndDateTime</th>
          <th>Capacity</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ce of conferenceEventList$; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ ce.EventName }}</td>
          <td>{{ ce.OrganizerName }}</td>
          <td>{{ ce.Category }}</td>
          <td>{{ ce.Description }}</td>
          <td>{{ ce.Location }}</td>
          <td>{{ ce.StartDateTime | date:'dd/MM/yyyy' }}</td>
          <td>{{ ce.EndDateTime | date:'dd/MM/yyyy' }}</td>
          <td>{{ ce.Capacity }}</td>
          <td>
            <button (click)="openDialog()" class="register-btn">Register</button>
          </td>
        </tr>
        <tr>
          <td><button (click)="previousPage()" class="previous-btn">Previous Page</button></td>
          <td>{{ this.currentPage }}</td> <td>Page out Of</td> <td>{{ this.totalpages }}</td>
          <td><button (click)="nextPage()" class="next-btn">Next Page</button></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!loading && conferenceevents.length === 0" class="center-message">No conferenceevents found.</div>
  </div>